{% extends "./layout.html" %}

{% block head %}
  {% block script %}
  {% endblock %}
{% endblock %}

{% block body %}
  <div class="content d-flex">
    {% import './sidebar.html' as sidebar %}
    {{sidebar.render(activeMenu, session)}}
    <div class="main-content-wrap flex-grow-1">
      <div class="main-content">
        <div class="heading">
          <small>{{session.user.firstName}}</small>
          <h1 class="title">{{pageHeading | default('[No Name]')}}</h1>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}