{% set pageHeading = "New Zone" %}
{% set activeMenu = "Zones" %}

{% extends "../partials/main.html" %}

{% import "../macros/form.html" as form %}

{% block content %}
<form action="/zones/{{model.id}}" method="POST">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        {{ form.label("Zone Name") }}
        {{ form.input(
          name = "name",
          value = model.name,
          placeholder = "Zone name",
          error = validations.name[0])
        }}
      </div>
    </div>
    <div class="col-md-12">
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
{% endblock %}